@charset 'utf-8';

@import "./../styles/utilities/media_query.scss";
@import "./../styles/utilities/dimens.scss";
@import "./../styles/utilities/theme.scss";
@import "./_variables_variables.scss";

$elevation_1: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$fab_elevation_1: 0px 1px 7px 12px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12);

//elevations
$elevations: ($elevation_1, $fab_elevation_1);

/**
 * Helper class to truncate and add ellipsis to a string too long for it to fit
 * on a single line.
 * 1. Prevent content from wrapping, forcing it on a single line.
 * 2. Add ellipsis at the end of the line.
 */
@mixin ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}

@mixin dialog_header_styles {
  display: grid;
  grid-template-columns: 1fr 40px;
  height: 40px;
  width: 100%;
  font-size: 20px;
}
