@import "styles/_variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 32px 0px;
  grid-template-rows: min-content minmax(400px, 1fr) min-content;
  position: relative;
}

.heading {
  grid-column: 1/-1;
  grid-row: 1;
}

.btn_download {
  // position:absolute !important;
  // bottom:16px;
  // right:16px;
  justify-self: flex-start;
  align-self: flex-start;
}
